<mat-accordion >
  <mat-expansion-panel *ngFor="let g of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{g.name}}
      </mat-panel-title>
      <mat-panel-description>
        //add studcount here
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <table class="tb" >
        <tr>
          <td><div class = "blk"></div></td>
          <td><div class = "blk"></div></td>
          <td></td>
        </tr>
        <tr *ngFor="let gg of gr">
          <td></td>
          <td>{{gg.name}}</td>
          <td><button mat-raised-button class = "btn" (click)="openDialog(gg.id, gg.name)">Get stats</button></td>
        </tr>
      </table>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
