<mat-accordion >
  <mat-expansion-panel *ngFor="let g of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{g.name}}
      </mat-panel-title>
      <mat-panel-description>
        //add studcount here
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div *ngFor="let gg of gr">
      <p>{{gg.name}}</p>
        <button mat-raised-button class = "btn" (click)="openDialog(gg.id, gg.name)">Get stats</button>
      </div>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
